
@media (max-width: 600px) {
    nav ul {
        text-align: center;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    /* Estilos para telas médias (tablets) */
}

@media (max-width: 480px) {
    /* Estilos para telas pequenas (smartphones) */
}
